* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #bfa8f0;
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  margin: 15px;
  text-align: center;
}

h1 {
  color: #b4f0de;
  font-size: 5em;
  font-weight: 300;
  text-shadow: 2px 2px black;
}

p {
  font-size: 1em;
}

ul{
  /* remove the bullet points*/
  list-style-type: none;
}

.list-button {
  /* removes the browser default border */
  border: none;
  display: inline-block;
  text-align: center;

  /* take the font from the outer container, in this case the body container */
  font-family: inherit;
  background-color: #fff;
  color: #bfa8f0 ;
  text-decoration: none;

  /* add spacing to the button and round the corners */
  margin: 0.3em;
  padding: 1em;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);

  /* give all buttons the same width */
  width: 50%;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);

  z-index: 999;

  overflow: auto;

  display: grid;
  text-align: center;

}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  width: 80%;
  max-width: 700px;
  text-align: center;
}

.modal h1 {
  color: #b4f0de;
  font-size: 2em;
  font-weight: 300;
  text-shadow: 2px 2px black;
}

.modal p {
  font-size: 1em;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  color: lightGrey;
  text-decoration: underline;
}

@media all and (max-width:750px) {

  body {
    display: grid;
    place-content: center;
    padding: 0 10vw;
    margin: 0 5vw;
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 2em;
  }

}
