* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #bfa8f0;
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  margin: 15px;
  text-align: center;
}

h1 {
  color: #b4f0de;
  font-size: 5em;
  font-weight: 300;
  text-shadow: 2px 2px black;
  padding: 0.5em;
}


p {
  font-size: 1em;
}

ul{
  /* remove the bullet points*/
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.list-group-horizontal li {

}

.list-button {
  /* removes the browser default border */
  border: none;
  text-align: center;

  /* take the font from the outer container, in this case the body container */
  font-family: inherit;
  background-color: #fff;
  color: grey;
  text-shadow: 1px 1px #b4f0de;
  text-decoration: none;

  /* add spacing to the button and round the corners */
  margin: 0.3em;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);

  /* give all buttons the same width */
  width: 80%;
}

.modal {
  background: #fff;
  padding: 20px;
  width: 80%;
  max-width: 700px;
  text-align: center;
}

.modal h1 {
  color: #b4f0de;
  font-size: 2em;
  font-weight: 300;
  text-shadow: 2px 2px black;
  margin: 0 auto;
}

.modal p {
  font-size: 1em;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  color: lightGrey;
  text-decoration: underline;
}


@media all and (max-width:750px) {

  body {
    display: grid;
    place-content: center;
    padding: 0 10vw;
    margin: 0 5vw;
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 2em;
  }

}
